#episodes {
    background: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
    -ms-transform: skewY(-6deg);
    -webkit-transform: skewY(-6deg);
    transform: skewY(-6deg);
    margin-top: 20px;
    & > * {
        -ms-transform: skewY(6deg);
        -webkit-transform: skewY(6deg);
        transform: skewY(6deg);
    }
    h2 {
        color: #fff;
        font-family: "IBM Plex Sans", monospace;
        padding: 7vh 0 1vw 5vw;
        font-size: 2.5em;
        padding-right: 3vw;
        font-weight: 300;
        width: 90vw;
    }
    &>.spotify {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        flex-direction: column;
        padding-bottom: 32vh;
         &>.pdc {
            width: 92vw;
            height: 232px;
            margin-top: 10px;
            border: none;
        }
    }
}
