.media {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    margin-bottom: 20px;
    p {
        font-weight: 500;
        width: 90vw;
        text-align: center;
        padding-bottom: 2vh;
        font-family: "IBM Plex Mono", monospace;
        font-size: 1em;
    }
    .social-icons {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        justify-content: space-around;
        width: 90vw;
    }

    .fa-spotify:hover{
        color: #1DB954;
          
    }

    .fa-instagram:hover{
          background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    }

    .fa-twitter:hover{
          color: #1DA1F2;
    }

    .fa-facebook:hover{
        color: #0000EC;
      }

      .fa-telegram:hover{
        color: #0088cc;
      }
}
